* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', monospace;
}

.nav ul li {
    list-style: none;
    display: inline;
    margin-left: 2rem;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 18%;
    padding-top: 1.5rem;
}

.header {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-left: 50%;
    margin-top: 6%;
}

.header p {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
}

.header h2 {
    font-size: 3rem;
}


.nav_and_header-image {
    background-image: url(./img/okeykat-2XFt_vsp4Uc-unsplash.jpg);
    height: 100vh;
}